.header {
    display: flex;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;

    &__button button {
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        color: gray;
        font-size: 14px;
        letter-spacing: 2px;
    }
}